.item {
width: 220px;
margin: 10px;
float: left;
}

.item p {
	text-align:center;
	background-color: #666;
	padding: 15px;
	margin: 0;
}


#lala{
	width: 90%;
    margin: 0 auto;
	padding-top: .75cm;
	
	}



<style type='text/css'>img#wpstats{display:none}</style>    <style type="text/css" media="screen">
 /* Header */
#masthead .navbar-brand {
font-size: 36px;
font-weight: 100;
}
#masthead .nav>.active>a {
font-weight: 600;
}
/* Menu buttons */
#masthead .nav-highlight-ghost>a:after, #masthead .nav-highlight>a:after {
border-radius: 18px;
}
/* Lead paragraphs */
.lead {
font-size: 21px;
}
.lead strong {

}
/* Services */
.services h3 {
color:#e56565;
}
.services h3:after {
background-color:#e56565 !important;
}
/* Portfolios */
.portfolios .figure-caption-title {
font-weight: 400;
font-size: 21px;
text-shadow: 1px 1px 0px rgba(179, 73, 59, 0.78);
}
.portfolios .figure-caption-title:after {
display: none;
}
.portfolios .figure-caption-title span {
float: right;
font-weight: 600;
}
.portfolios .figure-image {
box-shadow: 0px 0px 3px rgba(0,0,0,.3);
}
/* Action buttons */
.btn-action {
margin-left: 24px;
padding-right: 40px !important;
}
.btn-action span {
background: none !important;
}
/* Features list */
.cols-2 {
-webkit-column-count:2; 
-moz-column-count:2; 
column-count:2;
-webkit-column-gap:40px;
-moz-column-gap:40px; 
column-gap:40px;
}
.cols-3 {
-webkit-column-count:3; 
-moz-column-count:3; 
column-count:3;
-webkit-column-gap:40px;
-moz-column-gap:40px; 
column-gap:40px;
}

.theme-list ul {
padding-left: 0;
list-style-type:none;
font-size: 21px;
line-height: 36px;
font-weight: 300;
}
.theme-list li {
position: relative;
padding-left: 24px;
}
.theme-list li:before {
content: "\f00c";
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 36px;
color: #e56565;
position: absolute;
top: 0;
left: 0;
}
.theme-list li strong {
font-weight: 600;
}
@media (max-width: 767px) {
.cols-3, cols-2 {
-webkit-column-count:1; 
-moz-column-count:1; 
column-count:1;
}
}
/* Footer rules */
#footer .sidebar-widget {
text-align: center !important;
}
#footer ul.social-icons.social-lg a {
font-size: 36px;
width: 72px;
height: 72px;
line-height: 72px;
background: rgba(255, 255, 255, .9);
}
#footer ul.social-icons.social-lg a:hover {
background: rgba(255, 255, 255, 1);
}
.footer-lead {
font-weight: 100;
font-size: 36px;
text-shadow: 1px 1px 0px rgba(179, 73, 59, 0.78);
margin: 24px 0;
}
#footer .swatch-oxygenna-red {
background: #EE503B !important;
}
/* Red Swatch */
.swatch-oxygenna-red {
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #E56565),
	color-stop(1, #EE503B)
);
background-image: -o-linear-gradient(bottom, #E56565 0%, #EE503B 100%);
background-image: -moz-linear-gradient(bottom, #E56565 0%, #EE503B 100%);
background-image: -webkit-linear-gradient(bottom, #E56565 0%, #EE503B 100%);
background-image: -ms-linear-gradient(bottom, #E56565 0%, #EE503B 100%);
background-image: linear-gradient(to bottom, #E56565 0%, #EE503B 100%);
}
/* Theme header */
.theme-header span {
color: #E35220;
font-size: 27px;
padding-left: 24px;
}
/* One Page Love */
.opl, .awwwards {
position:fixed;
top:200px;
left:0px;
z-index:99999;
-webkit-backface-visibility: hidden;
}
.opl a, .awwwards a {
width:73px;
height:56px;
text-indent:-9999px;
display:block;
background:url('https://s3.amazonaws.com/onepagelove/one-page-love-award-left.png') no-repeat;
}

.awwwards a {
width:69px;
height:104px;
background: url('http://oxygennacdn1.oxygenna.com/wp-content/uploads/2014/05/awwwards_honorable_black_left.png') no-repeat;
}

/* Buttons */
.btn {
border-radius: 24px !important;
}
.btn:active:focus {
outline: none;
}
.btn-sm {
padding: 10px 16px;
}
.dropdown-toggle.btn-sm {
padding: 5px 30px 5px 10px;
}
.form-icon-group input, .form-icon-group textarea, .form-icon-group select, .form-icon-group .select-wrap  {
border-radius: 24px;
}
.portfolio-title {
border-radius: 24px;
}
.wpcf7-not-valid-tip {
color: #e56565;
}
/* Alerts */
.alert {
border-radius: 24px;
}
.alert-info {
background: rgba(214, 74, 57, 0.62);
}
/* About us */
.about-oxygenna h1 {
font-size: 24px;
font-weight: 200 !important;
line-height: 42px;
margin-bottom: 24px;
}
blockquote p {
font-size: 24px;
font-weight: 200 !important;
line-height: 42px;
margin-bottom: 24px;
}
blockquote footer {
margin-bottom: 36px;
}
.post-icon {
border-radius: 50%;
}
.post-title {
font-size: 36px;
line-height: 1.2em;
font-weight: 200;
}
.post-head small {
margin-top: 8px;
}
.post-body p:first-child {
font-size: 21px;
font-weight: 300;
line-height: 36px;
}
.lead-condensed {
max-width: 80%;
margin-left: auto;
margin-right: auto;
}
@media (max-width: 767px) {
.lead-condensed {
max-width: 100%;
}
}
.theme-widget  {
display: inline-block;
margin-bottom: 8px;
margin-right: 6px;
}
.theme-widget:nth-child(3n) {
margin-right: 0px;
}
@media (max-width: 992px) {
.theme-widget:nth-child(3n) {
margin-right: 6px;
}
}
.post-related-post h4 {
font-weight: 400;
}

/* Freebie post */
.tag-freebie {
position: relative;
}
.tag-freebie:before {
content: "freebie!";
position: absolute;
font-size: 14px;
font-weight: 600;
text-align: center;
background: rgba(229, 101, 101, 0.83);
color: #fff;
width: 72px;
height: 72px;
line-height: 72px;
border-radius: 50%;
z-index: 2;
top: 12px;
right: 12px;
/*transform*/
-webkit-transform:translateX(50px);
   -moz-transform:translateX(50px);
    -ms-transform:translateX(50px);
     -o-transform:translateX(50px);
        transform:translateX(100px);
/*transition*/
-webkit-transition:all .2s;
   -moz-transition:all .2s;
     -o-transition:all .2s;
        transition:all .2s;
opacity:0;
}
.tag-freebie:hover:before {
/*transform*/
-webkit-transform:translateX(0px);
   -moz-transform:translateX(0px);
    -ms-transform:translateX(0px);
     -o-transform:translateX(0px);
        transform:translateX(0px);
opacity: 1;
}

.syntaxhighlighter {
  background-color: #f8f8f8;
  border: 1px solid #f0f0f0;
  padding: 10px 0;
}

.freebies-actions br {
display: none;
}
.freebies-actions input, .freebies-actions input:hover, .freebies-actions input:active, .freebies-actions input:focus {
background: none;
outline: none;
box-shadow: none;
}            </style>
<style type="text/css" media="screen">@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,600,700,800,900&subset=latin);body {
    font-family: Raleway
}h1, h2, h3, h4, h5, h6 {
    font-family: Raleway
}input, textarea, .btn, button {
    font-family: Raleway
}blockquote {
    font-family: Raleway
}blockquote p {
  font-weight: 300;
}
.light {
  font-weight: 300 !important;
}
.hairline {
  font-weight: 100 !important;
  strong {
    font-weight: 300;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
.lead {
  font-weight: 300;
}
.lead  strong {
    font-weight: 600;

}